.ms-cost {
    font-size: 0.9em;
}

.ms-0::before,
.ms-1::before,
.ms-2::before,
.ms-3::before,
.ms-4::before,
.ms-5::before,
.ms-6::before,
.ms-7::before,
.ms-8::before,
.ms-9::before,
.ms-10::before,
.ms-11::before,
.ms-12::before,
.ms-13::before,
.ms-14::before,
.ms-15::before,
.ms-16::before,
.ms-17::before,
.ms-18::before,
.ms-19::before,
.ms-100::before,
.ms-infinity::before {
    font-size: 0.85em;
    position: relative;
    bottom: 0.15em;
}

.ms-cost.ms-w::before,
.ms-cost.ms-u::before,
.ms-cost.ms-b::before,
.ms-cost.ms-g::before {
    font-size: 1.0em;
}

.cc-shadow>i {
    background: black !important;
}

.ms-inline {
    font-size: 0.6em !important;
    margin-left: 0.2em;
    /* margin-right: 0.2em; */
}

.text-deco i:not(.ms) {
    font-family: 'MPlantin-Italic';
    font-style: normal;
}

.text-deco {
    line-height: 0.95;
    width: 100%;
}

.text-deco hr {
    margin: 0.3em;
    background: radial-gradient(rgba(0, 0, 0, 0.2), transparent 70%);
    height: 2px;
    border: none;
}

p {
    margin-bottom: 0;
    margin-top: 1ex;
}

td {
    vertical-align: top;
}

.card-cost {
    margin-left: 0.15em;
}

#card-container {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 411px;
}

input[type="text"],
textarea {
    width: 100%;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Trueno-Light';
    src: url('../fonts/truenolt.otf?v=10.0.1') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#cardlist {
    width: 100%;
}

th {
    text-align: left;
}

#cardlist > tr:hover {
    background-color: #666666;
}

tr.current-card {
    background-color: #444444;
}

body {
    background-color: #080808;
    color: white;
}